.top-container {
  background-color: #FFDEDE;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Besley', serif;
  color: #40514E;

}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
  color: #66BFBF;
}
h2 {
font-size: 2rem;
color: #66BFBF;
font-weight: normal;
line-height: 2;
margin-bottom: 0;
margin-top: 0;
}
.skill-row {
  width: 50%;
  margin: 70px auto 100px auto;
  text-align: center;
  line-height: 2;
}
.bottom-container {
  background-color: #66BFBF;
  padding: 15px 0 15px;
}
.bottom-cloud {
  position: relative;
  bottom: 300px;
  right: 20px;
}
.top-cloud {
  position: relative;
  left: 300px;
  padding-top: 50px;
}
h3 {
  color: #11999E;
  left: auto;
  text-align: left;
}
.footer-link {
  color: black;
}
.footer-link {
  color: #11999E;
  text-decoration: none;
  margin: 10px;
}
a:hover {
  color: #EAF6F6;
}
.copy {
  color: #EAF6F6;
  padding: 20px 0;
}

.wrench {
  width: 25%;
float: left;
  margin-right: 30px;
}
.shaunak {

  margin-right: 30px;
}
.skill-row-description-2 {
  text-align: left;
}
hr {
  color: #FACE7F;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  height: 0;
  width: 7%;
  margin-bottom: 100px;
  margin-top: 50px;
}
.programming {
  width: 30%;
  float: right;
}
.contact {
  text-align: center;
}
p {
  line-height: 2;
}

.button {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 26px;
   -moz-border-radius: 26px;
   border-radius: 26px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 25px;
   font-weight: 400;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   border: groove #DD380D 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 30px auto;
}

.button:hover {
   border: solid #38CBED 1px;
   background: #3592BF;
   background-image: -webkit-linear-gradient(top, #3592BF, #44A3AD);
   background-image: -moz-linear-gradient(top, #3592BF, #44A3AD);
   background-image: -ms-linear-gradient(top, #3592BF, #44A3AD);
   background-image: -o-linear-gradient(top, #3592BF, #44A3AD);
   background-image: -webkit-gradient(to bottom, #3592BF, #44A3AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
